<section>
    <h1 class="title">Badge</h1>
    <div class="row">
        <div class="col-md-4"><span class="badge red" data-badge="۳">پیام جدید</span></div>
        <div class="col-md-4"><span class="badge orange" data-badge="سلام">متن من</span></div>
        <div class="col-md-4"><span class="badge yellow" data-badge="۹۹">پیام جدید</span></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4"><span class="badge olive" data-badge="۹۹">پیام جدید</span></div>
        <div class="col-md-4"><span class="badge green" data-badge="۹۹">پیام جدید</span></div>
        <div class="col-md-4"><span class="badge teal" data-badge="۹۹">پیام جدید</span></div>
    </div>
</section>