<section>
    <h1 class="title">Buttons</h1>
    <div>
        <a href="#" class="btn">دکمه معمولی</a>
        <a href="#" class="btn white">دکمه معمولی</a>
        <a href="#" class="btn red">دکمه معمولی</a>
        <a href="#" class="btn orange">دکمه معمولی</a>
        <a href="#" class="btn yellow">دکمه معمولی</a>
        <a href="#" class="btn olive">دکمه معمولی</a>
        <a href="#" class="btn green">دکمه معمولی</a>
        <a href="#" class="btn teal">دکمه معمولی</a>
        <a href="#" class="btn blue">دکمه معمولی</a>
        <a href="#" class="btn violet">دکمه معمولی</a>
        <a href="#" class="btn purple">دکمه معمولی</a>
        <a href="#" class="btn pink">دکمه معمولی</a>
        <a href="#" class="btn brown">دکمه معمولی</a>
        <a href="#" class="btn grey">دکمه معمولی</a>
        <a href="#" class="btn black">دکمه معمولی</a>
    </div>
    <div>
        <a href="#" class="btn">دکمه معمولی</a>
        <a href="#" class="btn tp-white">دکمه معمولی</a>
        <a href="#" class="btn tp-red">دکمه معمولی</a>
        <a href="#" class="btn tp-orange">دکمه معمولی</a>
        <a href="#" class="btn tp-yellow">دکمه معمولی</a>
        <a href="#" class="btn tp-olive">دکمه معمولی</a>
        <a href="#" class="btn tp-green">دکمه معمولی</a>
        <a href="#" class="btn tp-teal">دکمه معمولی</a>
        <a href="#" class="btn tp-blue">دکمه معمولی</a>
        <a href="#" class="btn tp-violet">دکمه معمولی</a>
        <a href="#" class="btn tp-purple">دکمه معمولی</a>
        <a href="#" class="btn tp-pink">دکمه معمولی</a>
        <a href="#" class="btn tp-brown">دکمه معمولی</a>
        <a href="#" class="btn tp-grey">دکمه معمولی</a>
        <a href="#" class="btn tp-black">دکمه معمولی</a>
    </div>
    <div class="mg-5">
        <a href="#" class="btn grey small">دکمه کوچک</a>
        <a href="#" class="btn grey">دکمه متوسط</a>
        <a href="#" class="btn grey large">دکمه بزرگ</a>
    </div>
    <p>
    <div class="group-btn">
        <a href="#" class="btn grey">اول</a>
        <a href="#" class="btn grey">دوم</a>
        <a href="#" class="btn grey">سوم</a>
        <a href="#" class="btn grey">چهارم</a>
    </div>
    <br>
    <div class="row mg-5">
        <div class="col-md-4">
            <div class="group-btn">
                <a href="#" class="btn blue"><span class="icon-css3"></span></a>
                <a href="#" class="btn purple"><span class="icon-html4"></span></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="group-btn">
                <a href="#" class="btn tp-white"><span class="icon-align16"></span></a>
                <a href="#" class="btn tp-white"><span class="icon-align14"></span></a>
                <a href="#" class="btn tp-white"><span class="icon-align15"></span></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="group-btn">
                <a href="#" class="btn tp-yellow">یک</a>
                <a href="#" class="btn tp-yellow">دو</a>
                <a href="#" class="btn tp-yellow">سه</a>
                <a href="#" class="btn tp-yellow">چهار</a>
            </div>
        </div>
    </div>
    </p>
    <div class="mg-5">
        <a href="#" class="btn grey block">یک دکمه بلاک</a>
    </div>
    <div class="mg-5">
        <button class="btn loading play">ارسال</button>
        <button class="btn blue loading">ارسال</button>
        <button class="btn red loading">ارسال</button>
    </div>
    <div class="mg-5">
        <a href="#" class="btn cr-facebook"><span class="icon-facebook25"></span> فیسبوک</a>
        <a href="#" class="btn cr-twitter"><span class="icon-twitter16"></span> توییتر</a>
        <a href="#" class="btn cr-instagram"><span class="icon-instagram3"></span> اینستاگرام</a>
        <a href="#" class="btn cr-youtube"><span class="icon-youtube15"></span> یوتیوب</a>
    </div>
    <br>
    </br>
    </br>
    </br>
</section>