<section>
    <h1 class="title">Cards</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card one">
                <div class="card-image first">
                    <img src="images/osx-el-capitan.jpg" alt="">
                </div>
                <div class="card-header">
                    <h2 class="card-title">متن عنوان</h2>
                    <span class="card-meta">توضیح کوتاه</span>
                </div>
                <div class="card-body">
                    <p class="desc">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn blue">جزئیات</button>
                    <button class="btn">انصراف</button>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card one">
                <div class="card-header">
                    <h2 class="card-title">متن عنوان</h2>
                    <span class="card-meta">توضیح کوتاه</span>
                </div>
                <div class="card-image">
                    <img src="images/osx-el-capitan.jpg" alt="">
                </div>
                <div class="card-body">
                    <p class="desc">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="group-btn ta-center">
                        <button class="btn blue">جزئیات</button>
                        <button class="btn tp-blue">جزئیات</button>
                        <button class="btn tp-blue">جزئیات</button>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card one">
                <div class="card-header">
                    <h2 class="card-title">متن عنوان</h2>
                    <span class="card-meta">توضیح کوتاه</span>
                </div>
                <div class="card-body">
                    <p class="desc">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                </div>
                <div class="card-image last">
                    <img src="images/osx-el-capitan.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</section>