<h1 class="title">Colors</h1>

<div class="row color-white ta-center">
    <div class="col-md-4 p1 bg-white color-black">bg-white</div>
    <div class="col-md-4 p1 bg-red">bg-red</div>
    <div class="col-md-4 p1 bg-orange">bg-orange</div>
    <div class="col-md-4 p1 bg-yellow">bg-yellow</div>
    <div class="col-md-4 p1 bg-olive">bg-olive</div>
    <div class="col-md-4 p1 bg-green">bg-green</div>
    <div class="col-md-4 p1 bg-teal">bg-teal</div>
    <div class="col-md-4 p1 bg-blue">bg-blue</div>
    <div class="col-md-4 p1 bg-violet">bg-violet</div>
    <div class="col-md-4 p1 bg-purple">bg-purple</div>
    <div class="col-md-4 p1 bg-pink">bg-pink</div>
    <div class="col-md-4 p1 bg-brown">bg-brown</div>
    <div class="col-md-4 p1 bg-black">bg-black</div>
</div>
<div class="row color-white ta-center">
    <div class="col-md-4 p1 bg-cr-facebook">bg-cr-facebook</div>
    <div class="col-md-4 p1 bg-cr-twitter">bg-cr-twitter</div>
    <div class="col-md-4 p1 bg-cr-googleplus">bg-cr-googleplus</div>
    <div class="col-md-4 p1 bg-cr-youtube">bg-cr-youtube</div>
    <div class="col-md-4 p1 bg-cr-linkedin">bg-cr-linkedin</div>
    <div class="col-md-4 p1 bg-cr-instagram">bg-cr-instagram</div>
    <div class="col-md-4 p1 bg-cr-pinterest">bg-cr-pinterest</div>
    <div class="col-md-4 p1 bg-cr-dropbox">bg-cr-dropbox</div>
    <div class="col-md-4 p1 bg-cr-github">bg-cr-github</div>
    <div class="col-md-4 p1 bg-cr-spotify">bg-cr-spotify</div>
    <div class="col-md-4 p1 bg-cr-rss">bg-cr-rss</div>
</div>
<br>
<br>
<div class="row ta-center">
    <div class="col-md-4 p1 bg-black color-white">color-white</div>
    <div class="col-md-4 p1 color-red">color-red</div>
    <div class="col-md-4 p1 color-orange">color-orange</div>
    <div class="col-md-4 p1 color-yellow">color-yellow</div>
    <div class="col-md-4 p1 color-olive">color-olive</div>
    <div class="col-md-4 p1 color-green">color-green</div>
    <div class="col-md-4 p1 color-teal">color-teal</div>
    <div class="col-md-4 p1 color-blue">color-blue</div>
    <div class="col-md-4 p1 color-violet">color-violet</div>
    <div class="col-md-4 p1 color-purple">color-purple</div>
    <div class="col-md-4 p1 color-pink">color-pink</div>
    <div class="col-md-4 p1 color-brown">color-brown</div>
    <div class="col-md-4 p1 color-black">color-black</div>
</div>
<div class="row ta-center">
    <div class="col-md-4 p1 color-cr-facebook">color-cr-facebook</div>
    <div class="col-md-4 p1 color-cr-twitter">color-cr-twitter</div>
    <div class="col-md-4 p1 color-cr-googleplus">color-cr-googleplus</div>
    <div class="col-md-4 p1 color-cr-youtube">color-cr-youtube</div>
    <div class="col-md-4 p1 color-cr-linkedin">color-cr-linkedin</div>
    <div class="col-md-4 p1 color-cr-instagram">color-cr-instagram</div>
    <div class="col-md-4 p1 color-cr-pinterest">color-cr-pinterest</div>
    <div class="col-md-4 p1 color-cr-dropbox">color-cr-dropbox</div>
    <div class="col-md-4 p1 color-cr-github">color-cr-github</div>
    <div class="col-md-4 p1 color-cr-spotify">color-cr-spotify</div>
    <div class="col-md-4 p1 color-cr-rss">bcolorg-cr-rss</div>
</div>