<section>
    <h1 class="title">Dropdown</h1>

    <div class="btn-dd">
        <button type="button" id="btn-dropdown1" data-toggle="dropdown" class="btn">دراپ داون <span class="icon-angle1"></span></button>
        <ul class="dropdown">
            <li><a href="#">متن نمونه دراپ داون</a></li>
            <li><a href="#">متن نمونه دراپ داون</a></li>
            <li><a href="#">متن نمونه دراپ داون</a></li>
        </ul>
    </div>
    <div class="btn-dd">
        <button type="button" id="btn-dropdown2" data-toggle="dropdown" class="btn tp-violet">دراپ داون <span class="icon-angle1"></span></button>
        <ul class="dropdown">
            <li><a href="#">متن نمونه دراپ داون</a></li>
            <li><a href="#">متن نمونه دراپ داون</a></li>
            <li><a href="#">متن نمونه دراپ داون</a></li>
        </ul>
    </div>
    <div class="btn-dd">
        <button type="button" id="btn-dropdown3" data-toggle="dropdown" class="btn olive">دراپ داون <span class="icon-angle1"></span></button>
        <ul class="dropdown">
            <li><a href="#">متن نمونه دراپ داون</a></li>
            <li><a href="#">متن نمونه دراپ داون</a></li>
            <li><a href="#">متن نمونه دراپ داون</a></li>
        </ul>
    </div>
    <div class="btn-dd">
        <button type="button" id="btn-dropdown4" data-toggle="dropdown" class="btn tp-brown">دراپ داون <span class="icon-angle1"></span></button>
        <ul class="dropdown">
            <li><a href="#">متن نمونه دراپ داون</a></li>
            <li><a href="#">متن نمونه دراپ داون</a></li>
            <li><a href="#">متن نمونه دراپ داون</a></li>
        </ul>
    </div>
</section>