<section>
    <h1 class="title">Label</h1>
    <p><span class="label">لورم</span> ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
    <p>
        <span class="label white">لورم ایپسوم</span>
        <span class="label red">لورم ایپسوم</span>
        <span class="label orange">لورم ایپسوم</span>
        <span class="label yellow">لورم ایپسوم</span>
        <span class="label olive">لورم ایپسوم</span>
        <span class="label green">لورم ایپسوم</span>
        <span class="label teal">لورم ایپسوم</span>
        <span class="label blue">لورم ایپسوم</span>
        <span class="label violet">لورم ایپسوم</span>
        <span class="label purple">لورم ایپسوم</span>
        <span class="label pink">لورم ایپسوم</span>
        <span class="label brown">لورم ایپسوم</span>
        <span class="label grey">لورم ایپسوم</span>
        <span class="label black">لورم ایپسوم</span>
    </p>
</section>