<h1 class="title">Navigation bar</h1>
<nav class="menu">

    <p>منو</p>
    <input type="checkbox" id="nav-menu" />
    <label for="nav-menu" onclick></label>

    <ul>
        <li class="active"><a href="#">خانه</a></li>
        <li><a href="#!">زیر منو +</a>
            <ul>
                <li><a href="#!">زیر منو یک</a></li>
                <li><a href="#!">زیر منو دو <span>+</span></a>
                    <ul>
                        <li><a href="#!">زیر منو یک</a></li>
                        <li><a href="#!">زیر منو دو</a></li>
                        <li><a href="#!">زیر منو سه <span>+</span></a>
                            <ul>
                                <li><a href="#!">زیر منو یک</a></li>
                                <li><a href="#!">زیر منو دو</a></li>
                            </ul>
                        </li>
                        <li><a href="#!">زیر منو چهار</a></li>
                    </ul>
                </li>
                <li><a href="#!">زیر منو چهار</a></li>
            </ul>
        </li>
        <li><a href="#!">بلاگ</a>
            <ul>
                <li><a href="#!">اخبار</a></li>
                <li><a href="#!">مقالات</a></li>
            </ul>
        </li>
        <li><a href="#!">درباره ما</a></li>
        <li><a href="#!">تماس با ما</a></li>
    </ul>
</nav>