<section>
    <h1 class="title">Pageination</h1>

    <div>
        <ul class="pagination pagination-lg">
            <li>
                <a class="disabled" href="#previus">
                    <span>&laquo;</span>
                </a>
            </li>
            <li><span class="active">1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#next">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="pagination">
            <li>
                <a class="disabled" href="#previus">
                    <span>&laquo;</span>
                </a>
            </li>
            <li><span class="active">1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#next">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="pagination pagination-sm">
            <li>
                <a class="disabled" href="#previus">
                    <span>&laquo;</span>
                </a>
            </li>
            <li><span class="active">1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#next">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</section>
