<section>
    <h1 class="title">Panels</h1>

    <div class="row">
        <div class="col-md-3">
            <div class="panel ul">
                <div class="panel-title">
                    <span>عنوان پنل</span>
                </div>
                <ul>
                    <li><a href="#">متن شماره یک</a></li>
                    <li><a href="#">متن شماره دو</a></li>
                    <li><a href="#">متن شماره سه</a></li>
                    <li><span>متن شماره چهار</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel ul border-1">
                <div class="panel-title">
                    <span>عنوان پنل</span>
                </div>
                <ul>
                    <li><a href="#"><span class="icon-archive15"></span>متن شماره یک</a></li>
                    <li><a href="#"><span class="icon-check30"></span>متن شماره دو</a></li>
                    <li><a href="#"><span class="icon-cog2"></span>متن شماره سه</a></li>
                    <li><div class="seprator"></div></li>
                    <li><span><span class="icon-couple35"></span>متن شماره چهار</span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel ul border-1">
                <div class="panel-title">
                    <span>عنوان پنل</span>
                </div>
               <div class="panel-body">
                   متن در این قسمت قرار میگیرد
               </div>
            </div>
        </div>
        <div class="col-md-3">4</div>
    </div>
</section>