<section>
    <h1 class="title">Progress bar</h1>

    <div class="progress-bar mg-5">
        <div class="meter pink" style="width: 50%">50%</div>
    </div>
    <div class="progress-bar mg-5">
        <div class="meter red" style="width: 100%">100%</div>
    </div>
    <div class="progress-bar mg-5">
        <div class="meter orange" style="width: 70%">70%</div>
    </div>
    <div class="progress-bar mg-5">
        <div class="meter yellow" style="width: 20%">20%</div>
    </div>
    <div class="progress-bar mg-5">
        <div class="meter olive" style="width: 60%">60%</div>
    </div>
    <div class="progress-bar mg-5">
        <div class="meter green active" style="width: 90%">90%</div>
    </div>
    <div class="progress-bar mg-5">
        <div class="meter teal active" style="width: 30%">30%</div>
    </div>
    <div class="progress-bar mg-5">
        <div class="meter blue active" style="width: 80%">80%</div>
    </div>
</section>