
<h1 class="title">Table</h1>


<table>
    <thead>
    <tr>
        <th>عنوان ستون یک</th>
        <th>عنوان ستون دو</th>
        <th>عنوان ستون سه</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>متن تست برای جدول</td>
        <td>متن تست برای جدول</td>
        <td></td>
    </tr>
    <tr>
        <td>متن تست برای جدول</td>
        <td>متن تست برای جدول</td>
        <td></td>
    </tr>
    <tr>
        <td>متن تست برای جدول</td>
        <td>متن تست برای جدول</td>
        <td></td>
    </tr>
    <tr>
        <td>متن تست برای جدول</td>
        <td>متن تست برای جدول</td>
        <td></td>
    </tr>
    </tbody>
</table>



<table class="hover">
    <thead>
    <tr>
        <th>عنوان ستون یک</th>
        <th>عنوان ستون دو</th>
        <th>عنوان ستون سه</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>متن تست برای جدول</td>
        <td>متن تست برای جدول</td>
        <td></td>
    </tr>
    <tr>
        <td>متن تست برای جدول</td>
        <td>متن تست برای جدول</td>
        <td></td>
    </tr>
    <tr>
        <td>متن تست برای جدول</td>
        <td>متن تست برای جدول</td>
        <td></td>
    </tr>
    <tr>
        <td>متن تست برای جدول</td>
        <td>متن تست برای جدول</td>
        <td></td>
    </tr>
    </tbody>
</table>