<section>
    <h1 class="title">Tab</h1>

    <div class="row mg-5">
        <div class="col-md-6">
            <div class="tab-wrapper one">
                <ul class="tab-menu">
                    <li class="current"><a href="#tab-1"><span class="icon icon-bug6"></span>یک</a></li>
                    <li><a href="#tab-2"><span class="icon-apple22"></span>دو</a></li>
                    <li><a href="#tab-3">سه</a></li>
                    <li><a href="#tab-4"><span class="badge blue" data-badge="1">چهار</span></a></li>
                </ul>
                <div class="tab-content-wrapper">
                    <div id="tab-1" class="tab-content">1</div>
                    <div id="tab-2" class="tab-content">2</div>
                    <div id="tab-3" class="tab-content">3</div>
                    <div id="tab-4" class="tab-content">4</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tab-wrapper tow">
                <ul class="tab-menu">
                    <li class="current"><a href="#tab-5"><span class="icon icon-bug6"></span>یک</a></li>
                    <li><a href="#tab-6"><span class="icon-apple22"></span>دو</a></li>
                    <li><a href="#tab-7">سه</a></li>
                    <li><a href="#tab-8"><span class="badge blue" data-badge="1">چهار</span></a></li>
                </ul>
                <div class="tab-content-wrapper">
                    <div id="tab-5" class="tab-content">1</div>
                    <div id="tab-6" class="tab-content">2</div>
                    <div id="tab-7" class="tab-content">3</div>
                    <div id="tab-8" class="tab-content">4</div>
                </div>
            </div>
        </div>
    </div>
</section>