<section>
    <h1 class="title">Thumbnail</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="img-radius img-responsive"><img src="images/thumb_1.png" alt="title" /></div>
        </div>
        <div class="col-md-4">
            <div class="span-3 img-responsive"><img src="images/thumb_1.png" alt="title" /></div>
        </div>
        <div class="col-md-4">
            <img class="responsive" src="images/thumb_1.png" alt="title" />
        </div>
    </div>
</section>