<section>
    <h1 class="title">Tooltip</h1>
    <button class="btn blue simptip-position-top" data-tooltip="متن تولتیپ"> تولتیپ بالا</button>
    <button class="btn blue simptip-position-bottom" data-tooltip="متن تولتیپ"> تولتیپ پایین</button>
    <button class="btn blue simptip-position-right" data-tooltip="متن تولتیپ"> تولتیپ راست</button>
    <button class="btn blue simptip-position-left simptip-multiline" data-tooltip="متن تولتیپ چند خطی برای تست"> تولتیپ
        چپ
    </button>
</section>