<section>
    <h1 class="title">Typography</h1>
    <blockquote>"لورم ایپسوم" </br> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان</blockquote>
    <h1>h1 - لورم ایپسوم متن ساختگی با</h1>
    <h2>h2 - لورم ایپسوم متن ساختگی با</h2>
    <h3>h3 - لورم ایپسوم متن ساختگی با</h3>
    <h4>h4 - لورم ایپسوم متن ساختگی با</h4>
    <h5>h5 - لورم ایپسوم متن ساختگی با</h5>
    <h6>h6 - لورم ایپسوم متن ساختگی با</h6>
    <ol>
        <li>نمونه شماره ۱</li>
        <li>نمونه شماره ۲</li>
        <li>نمونه شماره ۳</li>
    </ol>
    <ul>
        <li>نمونه لیست ها</li>
        <li>نمونه لیست ها</li>
        <li>نمونه لیست ها</li>
    </ul>
</section>